<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Новый тест</title>
</head>
<body>

<form th:action="@{'/post_new_quiz'}" method="get">
    <div><label><input name="quiz_name" type="text"></label></div>

    <div th:each="question, iterStat : ${questions}" th:if="${iterStat.index}<10">
        <div><label> Вопрос: <input th:name="${'question' + iterStat.index}" type="text"></label></div>
        <div><label> Вариант 1: <input th:name="${iterStat.index + 'answer1'}" type="text"></label></div>
        <div><label> Вариант 2: <input th:name="${iterStat.index + 'answer2'}" type="text"></label></div>
        <div><label> Вариант 3: <input th:name="${iterStat.index + 'answer3'}" type="text"></label></div>
        <div><label> Правильный ответ: <input th:name="${'correctIndex' + iterStat.index}" type="text"></label></div>
        <br><br>
    </div>

    <button type="submit" value="Submit">Submit</button>
</form>

</body>
</html>