<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Тест</title>
</head>
<body>

<form th:action="@{'/your_score'}" method="get">
    <input id="quizId" name="quizId" type="hidden" th:value="${id}">

    <div th:each="question, iterStat : ${questions}" th:if="${iterStat.index}<10">
        <label th:text="${question.question}"></label><br>
        <input th:name="${iterStat.index + 'correctIndex'}" type="hidden" th:value="${question.correctIndex}">
        <p th:each="answer : ${question.answers}">
            <input type="radio" th:name=${iterStat.index} th:value="${answer}" th:text="${answer}"><br>
        </p>
    </div>
    <br><br>

    <button type="submit" value="Submit">Submit</button>
</form>

</body>
</html>