<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Тест</title>
</head>
<body>

<form th:method="get" th:action="@{'/your_score'}">
    <input type="hidden" name="quizId" value="${quizId}">

    <label th:text="${question0.question}"></label><br>
    <p th:each="answer : ${question0.answers}">
        <input type="radio" name="${question0.questionId}" value="${answer}" th:text="${answer}"><br>
    </p>
    <br><br>

    <label th:text="${question1.question}"></label><br>
    <p th:each="answer : ${question1.answers}">
        <input type="radio" name="${question1.questionId}" value="${answer}" th:text="${answer}"><br>
    </p>
    <br><br>

    <label th:text="${question2.question}"></label><br>
    <p th:each="answer : ${question2.answers}">
        <input type="radio" name="${question2.questionId}" value="${answer}" th:text="${answer}"><br>
    </p>
    <br><br>

    <button type="submit" value="Submit">Submit</button>
</form>

</body>
</html>