<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Обновить курс</title>
</head>
<body>

  <form th:method="PUT" th:action="@{'/course/' + ${course.id} + '/update'}" th:object="${course}">
    <label for="courseName">Имя курса: </label>
    <input type="text" th:field="*{courseName}" id="courseName"/>
    <br/>
    <label for="department">Отдел: </label>
    <input type="text" th:field="*{department}" id="department"/>
    <br/>
    <input type="submit" value="Обновить"/>
  </form>

</body>
</html>
