<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Новый курс</title>
</head>
<body>

  <form th:method="POST" th:action="@{/course}" th:object="${course}" enctype="multipart/form-data">
    <label for="courseName">Введите название курса: </label>
    <input type="text" th:field="*{courseName}" id="courseName"/>
    <br/>
    <label for="department">Отдел, для которого разработан курс: </label>
    <input type="text" th:field="*{department}" id="department"/>
    <br/>

    <input type="submit" value="Добавить"/>
  </form>

</body>
</html>