<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Все курсы</title>
</head>
<body>

    <div th:each="course : ${courses}">
      <a th:href="@{'/course/find/' + ${course.id}}"
         th:text="${course.courseName + ', ' + course.department}">course</a>
    </div>

    <br/>
    <hr/>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/course/add">Добавить новый курс</a>
    </div>
</body>
</html>