<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ваши курсы</title>
</head>
<body>
<p th:text="${user.name}">VALUE</p>
<p th:text="${user.department}">VALUE</p>
<p th:text="${user.jobTitle}">VALUE</p>

<div th:each="course : ${courses}">
    <a th:href="@{'/course/find/' + ${course.id}}"
       th:text="${course.courseName}">course</a>
</div>
<br><br>

<a th:href="@{/results}">Посмотреть свои результаты тестов</a>
<br><br>

<a th:href="@{/pharmalms/mycourses/messages}">Сообщения</a>
<br><br>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>

</body>
</html>