<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>

<form method="post" action="/quizzes/submit">

    <div th:each="question : ${questionList}">
        <input type="hidden" name="questionId" value="${question.questionId}">
        <em th:text="${question.question}">VALUE</em>
        <p th:each="answer : ${question.answers}">
            <input type="hidden" name="answerId" value="${answer}">
            <input type="radio" name="question_${question.questionId}" value="${answer}">
            <em th:text="${answer}">VALUE</em>
            </p>
        <br>
    </a>

</div>

    <input type="submit" value="Submit">
</form>

</body>
</html>