<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Presentation Upload / Download</title>
</head>
<body>
<div>
    <h3>Upload Multiple Presentations</h3>
    <form id="uploadFiles" name="uploadFiles" th:method="post" th:action=@{/presentations/uploadFiles} encType="multipart/form-data">
        <input type="file" name="files" multiple required />
        <button type="submit">Submit</button>
    </form>
</div>

<div>
    <h3>List of Presentations</h3>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Download Link</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doc:${docs}">
            <td th:text="${doc.id}" />
            <td th:text="${doc.presName}"/>
            <td><a th:href="@{'/presentations/downloadFile/' + ${doc.id}}">Download</a></td>
            <td><form th:action="@{'/course/' + ${doc.id} + '/newpres'}" method="post">
                <input type="submit" value="Добавить в курс">
            </form></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>