<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Загрузить / скачать презентации</title>
</head>
<body>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <h3>Выбрать презентацию</h3>
    <form id="uploadFiles" name="uploadFiles" th:method="post" th:action=@{/presentations/uploadFiles} encType="multipart/form-data">
        <input type="file" name="files" multiple required />
        <button type="submit">Добавить</button>
    </form>
</div>

<div>
    <h3>Список презентаций</h3>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Скачать</th>
            <th>Тест</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doc:${docs}">
            <td th:text="${doc.id}" />
            <td th:text="${doc.presName}"/>
            <td><a th:href="@{'/presentations/downloadFile/' + ${doc.id}}">Download</a></td>
            <td><a th:href="@{'/presentations/' + ${doc.id} + '/quizzes/add'}">Add</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>